.DS_Store
.netrwhist

.direnv/

# Fish shell
fish/.config/fish/completions/
fish/.config/fish/conf.d/

nvim/.config/nvim/plugin/
*.spl

ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/startup/

_*

*.json
*.cache
